<h1>Students List</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Date of Birth</th>
    <th>Address</th>
    <th>Verify?</th>
    <th>Actions</th>
  </tr>
  <% @students.each do |student| %>
    <tr>
      <td><%= student.name %></td>
      <td><%= student.email %></td>
      <td><%= student.date_of_birth %></td>
      <td><%= student.address %></td>
      <td><%= student.is_verify? %></td>
      <td><%= link_to 'Edit', edit_student_path(student) %></td>
      <td><%= link_to 'Show', student_path(student) %></td>

      <% unless student.is_verify? %>

        <td><%= button_to 'Verify', verify_student_path(student), method: :patch %></td>
      <%end%>
    </tr>
  <% end %>
</table>
